<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style/style_main.css">
  <link rel="stylesheet" href="../static/style/style_portfolio.css">
  <title>{mmunir.portfolio}</title>
</head>
<body class="spinner" onload="loadBody()">
  <div class="container">
    <header class="brand__container">
      <h4 class="brand"><a href="/">mmunir:~$</a></h4>
      <section class="theme">
        <input type="checkbox" class="theme__input" name="theme" id="theme" value="light">
      </section>
    </header>
    <h5 class="page__title">portfolio</h5>
    <main class="content__main">
        <div class="portfolio__container">
          <div class="portfolio__card">
            <div class="portfolio__img-box">
              <img src="../static/img/electronjs.png" alt="" data-text="Portfolio One">
            </div>
            <div class="portfolio__content">
              <div>
                <h4>Portfolio One</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci temporibus nulla eum culpa nostrum libero id</p>
                <a href="#" target="_blank" rel="noopener noreferrer">More Details</a>
              </div>
            </div>
          </div>
          <div class="portfolio__card">
            <div class="portfolio__img-box">
              <img src="../static/img/nodejs.png" alt="" data-text="Portfolio Two">
            </div>
            <div class="portfolio__content">
              <div>
                <h4>Portfolio Two</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci temporibus nulla eum culpa nostrum libero id</p>
                <a href="#" target="_blank" rel="noopener noreferrer">More Details</a>
              </div>
            </div>
          </div>
          <div class="portfolio__card">
            <div class="portfolio__img-box">
              <img src="../static/img/vuejs.png" alt="" data-text="Portfolio Three">
            </div>
            <div class="portfolio__content">
              <div>
                <h4>Portfolio Three</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci temporibus nulla eum culpa nostrum libero id</p>
                <a href="#" target="_blank" rel="noopener noreferrer">More Details</a>
              </div>
            </div>
          </div>
          <div class="portfolio__card">
            <div class="portfolio__img-box">
              <img src="../static/img/reactjs.png" alt="" data-text="Portfolio Four">
            </div>
            <div class="portfolio__content">
              <div>
                <h4>Portfolio Four</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci temporibus nulla eum culpa nostrum libero id</p>
                <a href="#" target="_blank" rel="noopener noreferrer">More Details</a>
              </div>
            </div>
          </div>
        </div>
      <hr>
      <ul role="navigation" class="bottom-menu">
        <li class="bottom-menu__item"><a href="/">home</a></li>
        <li>|</li>
        <li class="bottom-menu__item"><a href="./posts.html">posts</a></li>
        <li>|</li>
        <li class="bottom-menu__item"><a href="./portfolio.html">portfolio</a></li>
        <li>|</li>
        <li class="bottom-menu__item"><a href="./aboutme.html">about</a></li>
      </ul>
    </main>
    <footer class="footer">&copy;<span id="year"></span> mmunir. built with html, css and js</footer>
  </div>
  <script src="../static/script/script.js"></script>
</body>
</html>